---
import ExperienceItem from './ExperienceItem.astro'
import { getI18N } from '../i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const EXPERIENCIE = [
  {
    date: i18n.EXPERIENCE_DATE_1,
    title: i18n.EXPERIENCE_TITLE_1,
    description: i18n.EXPERIENCE_DESCRIP_1,
    responsabilities: i18n.EXPERIENCE_RESP_1,
    accomplishments: i18n.EXPERIENCE_ACCOMP_1
  },
  {
    date: i18n.EXPERIENCE_DATE_2,
    title: i18n.EXPERIENCE_TITLE_2,
    description: i18n.EXPERIENCE_DESCRIP_2,
    responsabilities: i18n.EXPERIENCE_RESP_2,
    accomplishments: i18n.EXPERIENCE_ACCOMP_2
  },
  {
    date: i18n.EXPERIENCE_DATE_3,
    title: i18n.EXPERIENCE_TITLE_3,
    description: i18n.EXPERIENCE_DESCRIP_3,
    responsabilities: i18n.EXPERIENCE_RESP_3,
    accomplishments: i18n.EXPERIENCE_ACCOMP_3
  },
  {
    date: i18n.EXPERIENCE_DATE_4,
    title: i18n.EXPERIENCE_TITLE_4,
    description: i18n.EXPERIENCE_DESCRIP_4,
    responsabilities: i18n.EXPERIENCE_RESP_4,
    accomplishments: i18n.EXPERIENCE_ACCOMP_4
  }
]
---

<!-- <ExperienceItem {...experiencie} />-->
<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCIE.map((experiencie) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
